@model IEnumerable<Category>

<h3 class="p-2 bg-primary text-white text-center mb-4">Категории</h3>
<div class="container">
    <div class="d-flex justify-content-between">
        @{
            ViewBag.searches = new string[] { "Name", "Description" };
            ViewBag.sorts = new string[] { "Name", "Description" };
        }
        @Html.Partial("PageOptions", Model)
    </div>

    @if (ViewBag.EditId == null)
    {
        <form asp-action="AddCategory" method="post">
            @Html.Partial("CategoryEditor", new Category())
        </form>
    }

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" class="text-center">Нет данных</td>
            </tr>
        }
        else
        {
            @foreach (Category c in Model)
            {
                @if (c.Id == ViewBag.EditId)
                {
                    <form asp-action="UpdateCategory" method="post">
                        <input type="hidden" name="Id" value="@c.Id"/>
                        @Html.Partial("CategoryEditor", c)
                    </form>
                }
                else
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.Name</td>
                        <td>@c.Description</td>
                        <td>
                            <form asp-action="DeleteCategory" method="post" class="d-flex gap-2" id="deleteForm-@c.Id">
                                <input type="hidden" name="Id" value="@c.Id"/>
                                <a asp-action="EditCategory" asp-route-id="@c.Id" class="btn btn-secondary btn-sm">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.1465 0.146447C12.3417 -0.0488155 12.6583 -0.0488155 12.8536 0.146447L15.8536 3.14645C16.0488 3.34171 16.0488 3.65829 15.8536 3.85355L5.85357 13.8536C5.80569 13.9014 5.74858 13.9391 5.68571 13.9642L0.68571 15.9642C0.500001 16.0385 0.287892 15.995 0.146461 15.8536C0.00502989 15.7121 -0.0385071 15.5 0.0357762 15.3143L2.03578 10.3143C2.06092 10.2514 2.09858 10.1943 2.14646 10.1464L12.1465 0.146447ZM11.2071 2.5L13.5 4.79289L14.7929 3.5L12.5 1.20711L11.2071 2.5ZM12.7929 5.5L10.5 3.20711L4.00001 9.70711V10H4.50001C4.77616 10 5.00001 10.2239 5.00001 10.5V11H5.50001C5.77616 11 6.00001 11.2239 6.00001 11.5V12H6.29291L12.7929 5.5ZM3.03167 10.6755L2.92614 10.781L1.39754 14.6025L5.21903 13.0739L5.32456 12.9683C5.13496 12.8973 5.00001 12.7144 5.00001 12.5V12H4.50001C4.22387 12 4.00001 11.7761 4.00001 11.5V11H3.50001C3.28561 11 3.10272 10.865 3.03167 10.6755Z" fill="white"/>
                                    </svg>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm  align-self-end" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-product-id="@c.Id">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5C5.77614 5.5 6 5.72386 6 6V12C6 12.2761 5.77614 12.5 5.5 12.5C5.22386 12.5 5 12.2761 5 12V6C5 5.72386 5.22386 5.5 5.5 5.5Z" fill="white"/>
                                        <path d="M8 5.5C8.27614 5.5 8.5 5.72386 8.5 6V12C8.5 12.2761 8.27614 12.5 8 12.5C7.72386 12.5 7.5 12.2761 7.5 12V6C7.5 5.72386 7.72386 5.5 8 5.5Z" fill="white"/>
                                        <path d="M11 6C11 5.72386 10.7761 5.5 10.5 5.5C10.2239 5.5 10 5.72386 10 6V12C10 12.2761 10.2239 12.5 10.5 12.5C10.7761 12.5 11 12.2761 11 12V6Z" fill="white"/>
                                        <path d="M14.5 3C14.5 3.55228 14.0523 4 13.5 4H13V13C13 14.1046 12.1046 15 11 15H5C3.89543 15 3 14.1046 3 13V4H2.5C1.94772 4 1.5 3.55228 1.5 3V2C1.5 1.44772 1.94772 1 2.5 1H6C6 0.447715 6.44772 0 7 0H9C9.55229 0 10 0.447715 10 1H13.5C14.0523 1 14.5 1.44772 14.5 2V3ZM4.11803 4L4 4.05902V13C4 13.5523 4.44772 14 5 14H11C11.5523 14 12 13.5523 12 13V4.05902L11.882 4H4.11803ZM2.5 3H13.5V2H2.5V3Z" fill="white"/>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
        </tbody>
    </table>

    <div class="text-center">
        @Html.Partial("Pages", Model)
    </div>
</div>

@Html.Partial("ConfirmDeleteModal", Model);